# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
.terraform.lock.hcl

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
test_env/

# Django
*.sqlite3
db.sqlite3
/staticfiles/
/media/
# Ignore uploaded and processed images
photos/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker
*.log

# Git
*.swp
*.swo 

# Jupyter and notebook checkpoints
.ipynb_checkpoints/

# System files
*.bak
*.tmp

# Ignore test outputs
*.jpg
*.png
*.jpeg
# But allow static demo/sample images if needed
!photoalbum/static/ 