# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
.terraform.lock.hcl

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/

# Django
*.sqlite3
db.sqlite3
/staticfiles/
/media/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker
*.log

# Git
*.swp
*.swo 